#three-js__root {
  cursor: grab;

  :active {
    cursor: grabbing;
  }
}

.default_message__no_active_scene {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
