.table__container {
  box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
  border-radius: 10px;
  width: 75%;
  margin: 0 auto;
}

.grid__container {
  margin: 20px 0 !important;
}

.card__tours {
  border-color: #454545 !important;
  max-width: 450px;
  cursor: pointer;
}

.tour__name_header {
  margin: 10px 0 !important;
}
