.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hotspot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  position: absolute; /* let us position them inside the container */
  left: 0; /* make their default position the top left of the container */
  top: 0;
  cursor: pointer; /* change the cursor to a hand when over us */
  font-size: 12px;
  user-select: none; /* don't let the text get selected */
  border-radius: 50%;
  height: 48px;
  width: 48px;

  /* Tooltip text */
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 50px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }

  .hotspot__label {
    color: black;
  }

  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
}

.hotspot__add {
  position: absolute;
  top: 50px;
  left: 30px;
  padding: 15px;
  background-color: #61dafb;
  cursor: pointer;
  border-radius: 5px;
}

.hotspot__delete {
  position: absolute;
  top: 50px;
  left: 160px;
  padding: 15px;
  background-color: red;
  cursor: pointer;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
