.blur {
  position: absolute;
  z-index: 0;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  background-color: #55555638;
  backdrop-filter: blur(4px);
  color: white;
  padding: 15px;
  border-radius: 15px;
  box-sizing: border-box;
}

.parallax {
  /* The image used */
  background-image: url("https://picsum.photos/1920/1200");
  filter: blur(4px) grayscale(100%);

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__container {
  margin: 3rem 1rem;
}

.card {
  cursor: pointer;
}

.gradient {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0) 200px
    ),
    linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 300px);
}
